@import "tailwindcss";

:root {
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, -system-ui,
    -apple-system, BlinkMacSystemFont, "SF Pro Text", -system-ui, sans-serif;
  background-color: #020409;
}

/* Fondo global */
body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827 0, #020409 55%);
  color: #e5e7eb;
}

/* Scrollbar discreta */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}
